.contents
  .left-contents
    .left-header-contents
      .left-header-contents-user
        .left-header-contents-user__name
          test-user
        .left-header-contents-user__menu
          =link_to "https://www.google.com/search?q=google&rlz=1C5CHFA_enJP863JP865&oq=go&aqs=chrome.1.69i57j0l2j69i60l3.3273j1j4&sourceid=chrome&ie=UTF-8", class: "contents__btn" do
            = fa_icon 'edit'
          =link_to "https://www.google.com/search?q=google&rlz=1C5CHFA_enJP863JP865&oq=go&aqs=chrome.1.69i57j0l2j69i60l3.3273j1j4&sourceid=chrome&ie=UTF-8", class: "contents__btn" do
            = fa_icon 'cog'
    .left-main-contents
      .left-main-contents-sample
        .left-main-contents-sample__name
          sample
        .left-main-contents-sample__message
          さようなら
      .left-main-contents-group    
        .left-main-contents-group__name
          sample-group
        .left-main-contents-group__message
          hello!

  .right-contents
    .right-header-contents
      .right-header-contents__name
        text-group
      .right-header-contents__message
        Members: test-user
    .right-header-contents-edit-btn
      Edit
    .right-main-contents
      .right-main-contents-upper
        .right-main-contents-upper__name
          test-user
        .right-main-contents-upper__data
          2017/05/18 13:19:51 UTC
        .right-main-contents-upper__message
          こんにちは！
      .right-main-contents-second
        .right-main-contents-second__name
          test-user
        .right-main-contents-second__data   
          2017/05/18 13:21:51 UTC
        .right-main-contents-second__message
          さようなら！
    .right-form-contents
      .right-form-contents__input-box
        type a message
        .formbox-image
          %label.upload-label.formbox-image--icon
            %i.fa.fa-picture-o
            %input.image{type: "file"}
      .right-form-contents__submit
        Send
